@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Lexend:wght@100..900&display=swap');

body {
  font-family: "Lexend", sans-serif;
  background-image: linear-gradient(to right, #164A41, #4D774E, #9DC88D);
  margin: 20px;
  font-size: large;
  color: white;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 10px 25px;
  color: rgb(255, 255, 255);
}

.navbar img {
  width: 60px;
  margin-right: 15px;
}

.navbar h1 {
  margin-right: auto;
  font-family: 'Irish Grover';
  text-align: left;
  font-size: larger;
}

.sidebtn {
  color: white;
  font-size: 35px;
  background: none;
  border: none;
}

.sidebtn:hover, .dropbtn:focus {
  color:#164a41;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: #164a41;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}


.sidenav a, Link{
  padding: 8px 8px 8px ;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover {
  color: #f1f1f1;
  background-color: #4D774E;
}


.sidenav .closebtn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 36px;
  background: none;
  color: #F1b24a;
  border: none;
  transition: 0.3s;
}

.sidenav .closebtn:hover{
  cursor: pointer;
  color: white;
}

.login:hover, .logout:hover {
  cursor: pointer;
  background-color: #4D774E;
}

.login, .logout {
  width: 100%;
  background: none;
  border: none;
  color: #F1b24a;
  font: inherit;
  font-size: 25px;
  padding: 8px 8px 8px;
}

.login-message-btn {
  width: 100px;
  margin: auto;
}

.about {
  background-color: rgba(255, 255, 255, 0.25);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: auto;
  padding: 15px;
}

.about h1 {
  color:#164A41;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  width: 100%;
  padding: 30px 0px 30px 0;
  margin: 0px;
}

.about-content {
  width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

textarea {
  resize: vertical;
}

.form h1 {
  color:#164A41;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 30px 80px 30px 80px;
  border-radius: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  padding-top: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: rgba(255, 255, 255, 0.25);
}

.form input[type="text"] {
  width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
}

.garden-size-inputs {
  display: flex;
  align-items: center;
  gap: 5px;
}

.garden-size-inputs input[type="text"] {
  width: 50px;
}

#location input[type="text"] {
  width: 180px;
}

.form-group label {
  margin-right: 5px;
  color:#ffffff;
}

.form-group input {
  margin: 0 5px;
  padding: 5px;
  text-align: center;
  width: 171px;

}

input[name="gardenLength"], input[name="gardenWidth"] {
  width: 40px;;
}

.submit {
  font: inherit;
  padding: 8px 20px;
  background-color:#4D774E;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.submit:hover {
  background-color: #5b834f;
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
  display: block;
}

ul {
  text-transform: capitalize;
  list-style-type: none;
}

.name-container {
  text-transform: capitalize;
}

.name-container h2 {
  font-style: italic;
  color:#F1b24a;
}

.content-container {
  display: flex;
  margin: 15px;
}

.image-container {
  flex: 2;
  min-width: 200px;
}

.image-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
}

.info-container {
  flex: 2;
  padding: 20px;
}

.description-container {
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: larger;
}

.background {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 5px;
  border-radius: 15px;
}

.background h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.25);
  color:#164A41;
  margin: 15px;
  height: 70px;
  border-radius: 15px;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  padding: 20px;
}

.plant-card {
  text-align: center;
  text-transform: capitalize;
}

.plant-name {
  color: white;
  margin-top: 8px;;
  text-decoration: inherit;
}

.plant-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

.plant-image:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }
}

.slideshow {
  position: relative;
  justify-content: center; 
  align-items: center;
}

.guide-page {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  padding: 5px;
}

.guide-page h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.25);
  color:#164A41;
  margin: 15px;
  height: 70px;
  border-radius: 15px;
}

.info {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
  font-size: medium;
}

.info h3 {
  text-align: center;
  font-size: 22px;
}

.info li {
  text-transform: none;
  list-style: circle;
}

.prev, .next {
  cursor: pointer;       
  position: absolute;   
  top: 50%;             
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;         
  padding: 10px;        
  z-index: 1;
  border-radius: 3px; 
  margin: 0;
}

.prev:hover, .next:hover {
  background-color: #164A41;
}

.prev {
  left: 70px; 
}

.next {
  right: 70px; 
}

.slides {
  display: none; 
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation: fade 1s;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.select-crop-page{
  display: flex;
  width: 80%;
  margin: auto;
  align-self: center;
  justify-content: space-between;
}

.select-crop-list {
  flex: 2 0 auto;
  margin: 0;
  padding: 10px;
  height: 600px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.25);
}

.crop-selection-item{
  border: grey;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}

.crop-selection-link{
  padding: 20px;
  text-decoration: none;
  color: white;
}

.crop-selection-link:hover{
  color: #F1b24a;
}

.symbol-legend{
  background-color: rgba(255, 255, 255, 0.25);
  padding: 20px;
  margin: 50px;
  flex: 1 0 auto;
  text-align: left;
}

.symbol-legend h2{
  text-align: center;
}

.legend-key{
  padding: 10px;
  display: flex;
  align-items: center;
}

.symbol{
  padding: 5px;
  height: 20px;
  width: 20px;
}

.garden-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 20px;
}

.garden-card {
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.25);
  transition: box-shadow 0.3s;
  height: 275px;
  cursor: pointer;
}

.garden-card img {
  border-radius: 10px;;
  width: 100%;
  object-fit: cover;
}

.garden-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.garden-name {
  color: white;
}

.add-garden-card {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.25);
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  color: white;
}

.add-garden-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.crops li {
  list-style:circle;
  color: white;
}

.garden-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}

.garden-content {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.crops {
  flex: 1;
  padding-right: 20px;
  margin-left: 20px;
}

.crops ul {
  list-style-type: none;
  padding: 0;
}

.crops li {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.garden-plot {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.garden-plot img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}


